<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	
	<bean id="person"
		class="com.ramintaghizada.Spring.SpringTest.Person">
	<constructor-arg value="666" name="id" type="int"></constructor-arg>
	<constructor-arg value="Mary" name="name" type="String"></constructor-arg>
	<property name="taxId" value="123"></property>
	<property name="address" ref="address"></property>
	</bean>

	<bean id="address"
		class="com.ramintaghizada.Spring.SpringTest.Address">
	<constructor-arg name="street" value="oxford road"></constructor-arg>
	<constructor-arg name="postcode" value="m16 9pl"></constructor-arg>
	</bean>
</beans>
